.userResponse {
  display: flex;
  position: absolute;
  bottom: 20px;
}

.textResponse {
  width: 360px;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #e91e63;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #e91e63;
}

.sendResponse {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.3em 9em;
  margin: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.sendResponse:hover {
  border-color: #646cff;
}
.sendResponse:focus,
.sendResponse:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.responseButtonContainer {
  display: flex;
  justify-content: center;
}
