.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userResponse {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}
